:root {
  --black: #000;
  --white: #fff;
  --light-green: #d9e5d6;
  --grey-200: #b7b7b7;
  --grey-300: #353535;
  --grey-500: #6e6e6e;
  --grey-600: #373737;
  --grey-700: #222222;
  --tangerine: #ff8a00;

  --inner-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.5);
  --border-color: var(--grey-200);
  --active-border-color: var(--tangerine);
  --text-color: var(--black);
  --main-background: var(--grey-600);
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  background-color: var(--main-background);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

a:focus {
  outline-color: var(--tangerine);
}

.App {
  text-align: center;
}

.synth {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  outline: 0;
  max-width: 100rem;
  margin: 2rem auto;
}

.synth__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.module {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--grey-600);
  border: 0.1rem solid var(--grey-200);
  border-radius: 0.8rem;
  padding: 1.2rem;
  color: white;
  position: relative;
}

.module--dark {
  background-color: var(--grey-700);
}

.module h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-bottom: 1.2rem;
}

.module__group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.module__group--vertical {
  flex-direction: column;
}

.corner-screw {
  position: absolute;
  --corner-screw-vertical-offset: 0;
  --corner-screw-horizontal-offset: 0.4rem;
  scale: 0.5;
}

.corner-screw--top-left {
  top: var(--corner-screw-vertical-offset);
  left: var(--corner-screw-horizontal-offset);
}

.corner-screw--top-right {
  top: var(--corner-screw-vertical-offset);
  right: var(--corner-screw-horizontal-offset);
}

.corner-screw--bottom-left {
  bottom: var(--corner-screw-vertical-offset);
  left: var(--corner-screw-horizontal-offset);
}

.corner-screw--bottom-right {
  bottom: var(--corner-screw-vertical-offset);
  right: var(--corner-screw-horizontal-offset);
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.control__field {
  display: flex;
  flex-direction: column;
}

.control label {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 0.8rem;
}

@media (min-width: 681px) {
  .synth__controls {
    flex-direction: row;
  }
}

.keyboard {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.key {
  color: var(--border-color);
  background: var(--grey-600);
  border: 0.1rem solid var(--border-color);
  border-radius: 0 0 0.8rem 0.8rem;
  flex: 0 0 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: -0.2rem;
  user-select: none;
  transition: border-color 200ms ease-out;
}

.key:first-of-type {
  border-radius: 0.8rem;
}

.key:last-of-type {
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}

.key:focus {
  outline: 0;
}

.key--black {
  position: relative;
  flex: 0 0 5rem;
  height: 10rem;
  padding: 0;
  transform: translate(50%, 0);
  margin-left: -5.2rem;
}

.key--active {
  color: var(--active-border-color);
  border-color: var(--active-border-color);
  border-width: 0.3rem;
}

.key__note {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.key__keyboard-key::before {
  display: block;
  content: '';
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  bottom: -0.4rem;
  left: -0.1rem;
  z-index: -1;
  pointer-events: none;
  transition: all 140ms ease-out;
}

.key__keyboard-key {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  z-index: 1;
  background: var(--main-background);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
  width: 2.6rem;
  height: 2.6rem;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  pointer-events: none;
  transition: all 140ms ease-out;
}

.key__keyboard-key-cap {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-background);
}

.key--active .key__keyboard-key,
.key--active .key__keyboard-key::before {
  border-color: var(--tangerine);
}

.key--current {
  color: var(--white);
  background-color: var(--tangerine);
  border-color: var(--white);
}

.key--current .key__keyboard-key,
.key--current .key__keyboard-key::before {
  border-color: var(--white);
}

.key--current .key__keyboard-key-cap {
  background-color: var(--tangerine);
}

@media (min-width: 481px) and (max-width: 700px) {
  .keyboard {
    transform: scale(0.6);
  }
}

@media (max-width: 480px) {
  .keyboard {
    transform: scale(0.5);
  }
}

.range-container {
  --range-thumb-border-width: 0.1rem;
  --range-thumb-border: var(--range-thumb-border-width) solid var(--grey-300);
  --range-thumb-border-radius: 0.3rem;
  --range-thumb-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
    inset 0 0.1rem 0 rgba(255, 255, 255, 0.5);
  --range-thumb-height: 2.5rem;
  --range-thumb-width: 1.5rem;
  --range-thumb-offset: calc(-1 * (var(--range-thumb-height) / 2) + 0.8rem);
  --range-thumb-background: var(--grey-500);
  --range-track-background: transparent;
  --range-track-size: 2rem;
  --range-track-offset: 0.8rem;

  position: relative;
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.range-container--vertical {
  margin-top: 0;
}

.range-container::before {
  content: '';
  width: calc(100% - 1.8rem);
  height: 1px;
  background: white;
  display: block;
  position: absolute;
  top: calc(50% + 0.5rem);
  left: 0.9rem;
  z-index: 0;
}

.range-container--vertical::before {
  height: calc(100% - 1.8rem);
  width: 0.1rem;
  top: 0.9rem;
  left: calc(50%);
}

.range-container--vertical {
  overflow: hidden;
  margin-bottom: 0;
  --range-thumb-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
    inset -0.1rem 0 0 rgba(255, 255, 255, 0.5);
  --range-thumb-offset: calc(-1 * (var(--range-thumb-height) / 2) + 0.8rem);
  --range-track-offset: 0.3rem;
}

.range-container input[type='range'] {
  outline: none;
  background: transparent;
  transform: translateX(0);
  width: 18rem;
}

input[type='range'][orient='vertical'] {
  transform: rotate(270deg);
  width: 14rem;
  height: 14rem;
  margin-left: -5rem;
  margin-right: -5rem;
}

.range-ticks {
  width: calc(100%);
  height: 1.4rem;
  position: absolute;
  top: -0.2rem;
  left: 1rem;
}

.range-ticks--bottom {
  top: calc(100% - 0.1rem);
}

.range-container--vertical .range-ticks {
  top: 1rem;
  left: 0;
  height: calc(100% - 0.6rem);
  width: 1.6rem;
}

.range-container--vertical .range-ticks--bottom {
  right: 0;
  left: auto;
}

.range-ticks__tick {
  fill: var(--white);
}

.range-ticks__tick--centre {
  fill: var(--tangerine);
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--range-thumb-border);
  border-radius: var(--range-thumb-border-radius);
  height: var(--range-thumb-height);
  width: var(--range-thumb-width);
  background: var(--range-thumb-background);
  box-shadow: var(--range-thumb-shadow);
  cursor: pointer;
  margin-top: var(--range-thumb-offset);
}

input[type='range']:focus::-webkit-slider-thumb {
  border-color: var(--tangerine);
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  border: var(--range-thumb-border);
  border-radius: var(--range-thumb-border-radius);
  height: var(--range-thumb-height);
  width: var(--range-thumb-width);
  background: var(--range-thumb-background);
  box-shadow: var(--range-thumb-shadow);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  border: var(--range-thumb-border);
  border-radius: var(--range-thumb-border-radius);
  height: var(--range-thumb-height);
  width: var(--range-thumb-width);
  background: var(--range-thumb-background);
  box-shadow: var(--range-thumb-shadow);
  cursor: pointer;
}

input[type='range'][orient='vertical']::-webkit-slider-thumb,
input[type='range'][orient='vertical']::-moz-range-thumb,
input[type='range'][orient='vertical']::-ms-thumb {
  box-shadow: var(--range-thumb-shadow-vertical);
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--range-track-size);
  cursor: pointer;
  background: var(--range-track-background);
  position: relative;
  top: var(--range-track-offset);
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--range-track-background);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: var(--range-track-size);
  cursor: pointer;
  background: var(--range-track-background);
  position: relative;
  top: var(--range-track-offset);
}

input[type='range']::-ms-track {
  width: 100%;
  height: var(--range-track-size);
  cursor: pointer;
  background: var(--range-track-background);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  position: relative;
  top: var(--range-track-offset);
}

.analyser {
  width: 60rem;
  max-width: 100%;
  height: 10rem;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.analyser__canvas {
  height: 100%;
  width: calc(100% + 2.4rem);
  position: absolute;
  left: -1.2rem;
  right: -1.2rem;
  user-select: none;
  -webkit-user-select: none;
}

.toggle {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.4rem;
  gap: 1.5rem;
  align-items: center;
}

.toggle__label {
  font-size: 0.8rem;
  color: var(--white);
}

.toggle__control {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--grey-500);
  border: 1px solid var(--grey-600);
  box-shadow: inset 0px 0.1rem 0 rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  flex: 1 1 auto;
  transition: background-color 160ms ease-out;
}

.toggle__control:focus {
  border-color: var(--tangerine);
  outline: 0;
}

.toggle--active .toggle__control {
  background-color: var(--tangerine);
  border: 0.1rem solid var(--grey-600);
  box-shadow: inset 0 -0.1rem 0 rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
}

.toggle-group {
  display: flex;
  gap: 0.8rem;
}

.toggle-group__toggle {
  cursor: pointer;
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--grey-500);
  border: 1px solid var(--grey-600);
  box-shadow: inset 0px 0.1rem 0 rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  flex: 1 1 auto;
  transition: all 200ms ease-out;
}

.toggle-group__toggle:focus {
  border-color: var(--tangerine);
  outline: 0;
}

.toggle-group__toggle svg {
  width: 2.8rem;
  height: 2.8rem;
  display: block;
}

.toggle-group__toggle--active {
  background: var(--tangerine);
  border: 0.1rem solid var(--grey-600);
  box-shadow: inset 0 -0.1rem 0 rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
}

.toggle-group__toggle-label {
  font-size: 0.8rem;
  padding: 0.8rem 0.4rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin: 2rem 4rem;
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 16rem;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.header p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
